Sur ce site il y a l'explication des différentes tables et la nomenclature utilisée, j'ai pas encore eu le temps de regarder :
    
    https://www.data.gouv.fr/fr/datasets/donnees-de-consommations-et-habitudes-alimentaires-de-letude-inca-3/

In [9]:
!pip install xlrd

Requirement already satisfied: xlrd in ./anaconda3/lib/python3.11/site-packages (2.0.1)

In [10]:
import pandas as pd 
import matplotlib.pyplot as plt

In [11]:
# Semble être une base sur la fréquence d'activité physique ou sédentarité 
activ_sedentaire = pd.read_csv("https://static.data.gouv.fr/resources/donnees-de-consommations-et-habitudes-alimentaires-de-letude-inca-3/20200117-101839/actphys-sedent.csv",sep=";") 
activ_sedentaire.head()

,POPULATION,NOIND,transport_personnel,transport_ecole,tv_score,tv_duree,jvideo_score,jvideo_duree,ordi_score,ordi_duree,...,activite_domloissport_duree,activite_domloissport_score,activite_moderee_score,activite_intense_score,activite_total_duree,activite_total_score,nap,profil_activite,sedentarite,sedentarite_duree
0,Pop1 Individu,120100401,NaN,1.0,NaN,1.642857,NaN,0.000000,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0,NaN
1,Pop1 Individu,120100501,NaN,1.0,NaN,0.821429,NaN,0.964286,NaN,0.571429,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,0.0,NaN
2,Pop1 Individu,120100601,NaN,3.0,NaN,1.142857,NaN,0.000000,NaN,0.571429,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0,NaN
3,Pop1 Individu,120100801,NaN,1.0,NaN,1.000000,NaN,0.357143,NaN,0.357143,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,0.0,NaN
4,Pop1 Individu,120100901,NaN,2.0,NaN,2.571429,NaN,1.000000,NaN,0.285714,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,NaN

In [12]:
# Composition alimentaires ? 
conso_compo = pd.read_csv("https://static.data.gouv.fr/resources/donnees-de-consommations-et-habitudes-alimentaires-de-letude-inca-3/20210128-192507/conso-compo-alim-vf-mad-datagouv2021.csv",sep=";") 
conso_compo.head()

/var/folders/p2/mz39_3ld1931_8d18wv6l6jh0000gn/T/ipykernel_97720/3259080089.py:2: DtypeWarning: Columns (19,31,51) have mixed types. Specify dtype option on import or set low_memory=False.
  conso_compo = pd.read_csv("https://static.data.gouv.fr/resources/donnees-de-consommations-et-habitudes-alimentaires-de-letude-inca-3/20210128-192507/conso-compo-alim-vf-mad-datagouv2021.csv",sep=";")

,POPULATION,NOIND,NUM_LIGNE,R24_num,R24_nombre,R24_pond,occ_hdeb,occ_type,occ_lieu,occ_alim_libelle,...,magnesium,phosphore,potassium,calcium,manganese,fer,cuivre,zinc,selenium,iode
0,Pop3,110100101,3,1,3,1.0,11:00,4,1,eau,...,0.99,0.0,0.73,7.13,0.00082,0.030,0.017,0.011,0.5,0.0
1,Pop3,110100101,16,1,3,1.0,12:30,5,1,jus d orange,...,9.85,16.2,170.00,0.41,0.02300,0.068,0.025,0.045,1.1,0.7
2,Pop3,110100101,800001,1,3,1.0,12:30,5,1,poulet,...,0.00,0.0,0.00,0.00,0.00000,0.000,0.000,0.000,0.0,0.0
3,Pop3,110100101,6,1,3,1.0,12:30,5,1,frites,...,23.30,106.0,684.00,23.80,0.16000,0.900,0.120,0.360,1.1,2.5
4,Pop3,110100101,14,1,3,1.0,12:30,5,1,poulet,...,23.00,198.0,247.00,11.00,0.01800,1.210,0.084,1.580,12.4,2.5

In [13]:
# Apports nutritionnels alimentation 

apports_nut = pd.read_csv("https://static.data.gouv.fr/resources/donnees-de-consommations-et-habitudes-alimentaires-de-letude-inca-3/20191217-184954/apports-nut-alim.csv",sep=";") 
apports_nut.head()

,POPULATION,NOIND,nutriment1,nutriment2,nutriment3,nutriment4,nutriment5,nutriment6,nutriment7,nutriment8,...,contrib45,contrib46,contrib47,contrib48,contrib49,contrib50,contrib51,contrib52,contrib53,contrib54
0,Pop3,110100101,2077.7625,2077.2795,83.054970,287.46045,145.453580,118.051110,0.272250,16.439404,...,0.074628,0.946185,0.345410,0.110520,16.502401,0.215986,8.642483,0.106113,0.258121,1.267153
1,Pop3,110100701,1123.7395,1122.6108,42.008881,141.19160,87.729454,40.941555,1.554727,21.721514,...,0.145274,1.462126,0.317232,0.098729,30.148006,0.119924,24.783506,0.252590,0.718946,0.070505
2,Pop3,110100801,2544.5754,2543.0146,87.255280,292.85364,148.375690,123.386040,0.837265,20.448515,...,0.050513,0.944199,0.214649,0.066984,11.707060,0.131240,6.312596,0.114005,0.332603,1.175436
3,Pop3,110101201,2154.6367,1738.7144,64.621910,176.34831,108.290740,52.579441,0.252013,14.028072,...,0.230425,1.569673,0.578777,0.112707,14.442437,0.533786,10.153035,0.224728,1.051633,0.520615
4,Pop3,110101401,1229.2993,1230.0304,44.161503,134.01630,52.806332,67.524727,0.441230,12.723254,...,0.124503,0.932228,0.360054,0.078900,15.277953,0.157646,2.613579,0.183976,0.467196,1.011166