In [1]:
import pandas as pd

In [7]:
URL = 'https://www.kaggle.com/datasets/wilmerarltstrmberg/recipe-dataset-over-2m/download?datasetVersionNumber=2'
df = pd.read_csv(URL, error_bad_lines=False)

/var/folders/bt/r1dg46ys21lb57m4n4x11m6c0000gn/T/ipykernel_13707/1988033117.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv(URL, error_bad_lines=False)
b'Skipping line 9: expected 1 fields, saw 2\nSkipping line 12: expected 1 fields, saw 4\nSkipping line 27: expected 1 fields, saw 8\nSkipping line 31: expected 1 fields, saw 8\nSkipping line 34: expected 1 fields, saw 2\nSkipping line 36: expected 1 fields, saw 2\nSkipping line 48: expected 1 fields, saw 9\nSkipping line 52: expected 1 fields, saw 2\nSkipping line 53: expected 1 fields, saw 6\nSkipping line 58: expected 1 fields, saw 2\nSkipping line 59: expected 1 fields, saw 3\nSkipping line 60: expected 1 fields, saw 2\nSkipping line 61: expected 1 fields, saw 2\nSkipping line 62: expected 1 fields, saw 2\nSkipping line 91: expected 1 fields, saw 2\nSkipping line 92: expected 1 fields, saw 2\nSkipping line 93: expected 1 fields, saw 2\nSkipping line 94: expected 1 fields, saw 2\n'

In [8]:
df.tail()

                      <!DOCTYPE html>
58  <div id="site-body" class="hide">
59                             </div>
60                            </main>
61                            </body>
62                            </html>